body {
  overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -250px;
    width: 250px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
   /* background-color: #f1f3f9 !important;*/
    height: 100%; /* Full-height: remove this if you want "auto" height */    
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
}

#page-content-wrapper {
    min-width: 100vw;
    margin-left: 0px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 250px;
}

.list-group-item {
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
   /* background-color: #f1f3f9 !important;*/
}

.list-group-item:hover {
    color: #60bb46 !important;
}

@media (min-width: 990px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
        margin-left: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -300px;
    }
}